/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31-mar-2016, 16.17.40
    Author     : Riccardo
*/

body{
    background: #E2E2E2;
    font-family: "Arial", Helvetica, sans-serif;
    color: #0D2956;
    text-align: justify;
}

h1{
    background-color: #0D2956;
    border-bottom: 1px;
    color: #E2E2E2;
    font-size: 48px;
}
h2{
    color: #0D2956;
    font-size: 36px;
}
h3{
    color: #0D2956;
    font-size: 24px;
}

a:visited, a:link{
    color: #0D2956;
    text-decoration: none;
}
a:hover{
    font-weight: bold
}